
.efficiencyCardTitle{
  font-size: 3rem;
  font-weight:400;
  color:#111111;
}

.text-center{
  animation: 1s ease-in 0s 1 fadeInOpacity;
font-weight:550;
font-size:3.9rem;
}
.effText{
  font-size:1.5rem;
  color:#111111;
}
.responsiveImage{
  height: 6.5em;
  width: 6em;


}
@media screen and (max-width: 550px) {
.title{
  size:3rem;
}
.effText{
  font-size:1.1rem;
}
.efficiencyCardTitle{
  font-size: 2.2rem;
}

}

@media screen and (max-width: 767px) {
  .title{
    size:4rem;
  }
  .effText{
    font-size:1.3rem;
  }
  .efficiencyCardTitle{
    font-size: 2.7rem;
  }


}
.ContactText{
  font-size: 1.32em;
}
.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
