
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
body{

}

button:click{
  outline: transparent;
}
.bg-dark{
  background-color: #000000
}
.navbar-collapse{
  height: 100% ;
  
}
