
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}
body{

}

button:click{
  outline: transparent;
}
.bg-dark{
  background-color: #000000;

}
.navbar-collapse{
  height: 100% ;

}
.navbar-toggler-icon{
  width:1.9em;
  height:1.7em;
}
.navbar{
  opacity: 0.87;

}
footer{
  margin-bottom: -10px;
  font-size: 10px;
  opacity: 0.8;

}
@keyframes fadeInOpacity {
  0%{
     opacity:0;
  }
  100%{
    opacity:1;
  }
}
.OfflineIcon{
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
  margin-left: -2em;
}
iframe{
  animation: 1s ease-out 0s 1 slideInFromTop;

}
.topNavbar{
  animation: 1.2s ease-out 0s 1 slideInFromTop;

}
